<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ajxlk.learnOnline.user.dao.StuMapper">
    <resultMap id="BaseResultMap" type="com.ajxlk.learnOnline.user.model.Stu">
        <id column="stu_id" property="stuid" jdbcType="INTEGER"/>
        <result column="stu_name" property="stuname" jdbcType="VARCHAR"/>
        <result column="stu_pwd" property="stupwd" jdbcType="VARCHAR"/>
        <result column="stu_icon_url" property="stuiconurl" jdbcType="VARCHAR"/>
        <result column="department_id" property="departid" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    stu_id, stu_name, stu_pwd, stu_icon_url, department_id
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from tb_stu
        where stu_id = #{stuid,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_stu
    where stu_id = #{stuid,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.ajxlk.learnOnline.user.model.Stu">
    insert into tb_stu (stu_id, stu_name, stu_pwd,
      stu_icon_url, department_id)
    values (#{stuid,jdbcType=INTEGER}, #{stuname,jdbcType=VARCHAR}, #{stupwd,jdbcType=VARCHAR}, 
      #{stuiconurl,jdbcType=VARCHAR}, #{departid,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.ajxlk.learnOnline.user.model.Stu">
        insert into tb_stu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="stuid != null">
                stu_id,
            </if>
            <if test="stuname != null">
                stu_name,
            </if>
            <if test="stupwd != null">
                stu_pwd,
            </if>
            <if test="stuiconurl != null">
                stu_icon_url,
            </if>
            <if test="departid != null">
                department_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="stuid != null">
                #{stuid,jdbcType=INTEGER},
            </if>
            <if test="stuname != null">
                #{stuname,jdbcType=VARCHAR},
            </if>
            <if test="stupwd != null">
                #{stupwd,jdbcType=VARCHAR},
            </if>
            <if test="stuiconurl != null">
                #{stuiconurl,jdbcType=VARCHAR},
            </if>
            <if test="departid != null">
                #{departid,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ajxlk.learnOnline.user.model.Stu">
        update tb_stu
        <set>
            <if test="stuname != null">
                stu_name = #{stuname,jdbcType=VARCHAR},
            </if>
            <if test="stupwd != null">
                stu_pwd = #{stupwd,jdbcType=VARCHAR},
            </if>
            <if test="stuiconurl != null">
                stu_icon_url = #{stuiconurl,jdbcType=VARCHAR},
            </if>
            <if test="departid != null">
                department_id = #{departid,jdbcType=INTEGER},
            </if>
        </set>
        where stu_id = #{stuid,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.ajxlk.learnOnline.user.model.Stu">
    update tb_stu
    set stu_name = #{stuname,jdbcType=VARCHAR},
      stu_pwd = #{stupwd,jdbcType=VARCHAR},
      stu_icon_url = #{stuiconurl,jdbcType=VARCHAR},
      department_id = #{departid,jdbcType=INTEGER}
    where stu_id = #{stuid,jdbcType=INTEGER}
  </update>

    <select id="selectAllStu" resultMap="BaseResultMap">
        SELECT * FROM tb_stu
    </select>

    <select id="selectSelectiveStu" resultMap="BaseResultMap" parameterType="com.ajxlk.learnOnline.user.model.Stu">
        SELECT *
        FROM tb_stu
        <where>
            <if test="stuid != null">
                stu_id = #{stuid,jdbcType=INTEGER}
            </if>

            <if test="stuname != null and stuname != '' ">
                and stu_name = #{stuname,jdbcType=VARCHAR}
            </if>

            <if test="departid != null and departid != '' ">
                and department_id = #{departid,jdbcType=INTEGER}
            </if>
        </where>

    </select>

</mapper>
