.toplead ul {
    margin: 10px 20px;
}

.toplead ul li a {
    display: inline-block;
    width: 110px;
    text-align: center;
    padding: 10px;
    color: #2f2e2e;
}

.toplead ul li a.active {
    border-bottom: 2px solid #333;
}

.toplead ul li a:hover {
    border-bottom: 2px solid #333;
    text-decoration: none;
}

.searchformbox,
.serachcont {
    margin: 10px 60px;
}

.styleboxhead,
.searchconthead {
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid #e2caca;
    margin-bottom: 12px;
    padding: 5px 15px;
    background: #f9f8f8;
    /*border-radius: 10px 10px 0 0;*/
}

.serachcont {
    margin-top: 25px;
    border: 1px solid #e2caca;
}

.searchresultcont {
    padding: 0 10px;
}

.addexamitem {
    float: right;
}

.addexamitem:hover {
    cursor: pointer;
}

.foBox {
    padding: 0 15px;
    display: inline-block;
    width: 180px;
    margin-bottom: 0px;
}

.form-control {
    width: 60%;
    float: left;
}

.foBox label {
    height: 34px;
    line-height: 34px;
    float: left;
    padding-right: 4px;
}

.foBox:first-child {
    width: 400px;
}

.foBox:last-child {
    width: 84px;
}



/*三级菜单样式*/

.m_zlxg {
    z-index: 2;
    width: 93px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    float: left;
    margin: 0 15px 0 0;
    display: inline;
    background: url(images/zlxg2.jpg) no-repeat;
}

.m_zlxg:last-child {
    margin: 0;
}

.m_zlxg p {
    z-index: 2;
    width: 71px;
    padding-left: 10px;
    overflow: hidden;
    line-height: 30px;
    color: #333333;
    font-size: 12px;
    font-family: "微软雅黑";
    text-overflow: ellipsis;
    white-space: nowrap;
}

.m_zlxg2 {
    z-index: 2;
    position: absolute;
    top: 29px;
    border: 1px solid #ded3c1;
    background: #fff;
    width: 91px;
    display: none;
    max-height: 224px;
    -height: 224px;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
}

.m_zlxg2 li {
    margin-left: -40px;
    float: none;
    z-index: 2;
    line-height: 28px;
    white-space: nowrap;
    padding-left: 10px;
    font-family: "微软雅黑";
    color: #333333;
    font-size: 12px;
}

.m_zlxg2 li:hover {
    z-index: 2;
    color: #7a5a21;
}

.m_zlxg2 ul li {}

.form-control,
.btn-default {
    border: 1px solid #dad5bf;
    border-radius: 0;
    height: 31px;
}

label {
    text-align: left;
}

th,
td {
    text-align: center;
}

.searchresultcont img {
    width: 20px;
    margin: 0 4px;
}

.addpaperpop {
    display: none;
    position: fixed;
    width: 450px;
    height: 372px;
    z-index: 999;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    border: 1px solid #e2caca;
}

.popdead {
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid #e2caca;
    margin-bottom: 12px;
    padding: 5px 15px;
    background: #f9f8f8;
}

.popdead img {
    width: 20px;
    float: right;
}
.left{
    float: left;
    width: 50%;
}
.right{
    float: right;
    width: 50%;
}
.popbody span{
    width: 60px;
    display: inline-block;
    text-align: center;
}
.popbody input, .popbody select{
    width: 138px;
    height: 28px;
        border: 1px solid #dcd3c2;
            padding-left: 6px;
}
.fenlei{
        float: left;
            margin-top: 6px;
}
.secondline #sjld_2 .m_zlxg{
        margin: 0 41px 0 0;
}
.firstline, .secondline, .thirdline, .fourthline, .fifthline, .sixth{
    padding: 8px 0;
}
.describe{
                float: left;
    margin-top: 20px;
}
.addpaperpop textarea{
    width: 360px;
        border: 1px solid #dcd3c2;
            margin-left: 5px;
}
.submit{
    padding: 10px;
    text-align: center;
}
.submit button{
        padding: 3px 26px;
    border: 1px solid #dcd3c2;
    background: #f9f8f8;
    color: #dc0101;
}
.bg{
    display: none;
        position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.26);
}
.closebtn img:hover{
    cursor: pointer;
}