.clear{
    clear: both;
}
.headlead{
    background: #000;
    overflow: hidden;
    border-bottom: transparent;
}
.list a{
    color: #fff;
    height: 70px;
    margin-top: -10px;
    line-height: 70px;
}
#myTab li a{
    font-size: 16px;
}
.list a:link{
    text-decoration: none;
}
.act{
    background-color: rgba(77,85,93,.4);
}
.list a:hover{
    background-color: rgba(77,85,93,.4);
}
.form-control, .btn-default{
    background-color: rgba(187, 180, 180, 0.24);
    background-image: none;
    border: 1px solid #696767;
    border-radius: 0;
    color: #696767;
}
.btn-default:hover{
    background-color: #2d2b2b;
    color: #696767;
}
.bg-other{
    height: 220px;
    background: url(../img/usercenter/temp1.jpg) center top no-repeat #000;
    background-size: cover;
}
.user-info{
    position: relative;
    width: 712px;
    padding-top: 40px;
    margin: 0 auto;
}
.user-head-info .user-info .user-name{
    width: 100%;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    text-align: left;
    color: #fff;
}
.user-head-info .user-info .user-name span{
    float: left;
}
.user-head-info .user-info .about-info{
    font-size: 14px;
    color: #fff;
    line-height: 20px;
    text-align: left;
}
.user-desc{
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    text-align: left;
    margin-top: 20px;
    word-break: break-all;
    word-wrap: break-word;
    opacity: .5;
}

.userimg{
    width: 192px;
    height: 192px;
    position: absolute;
    top: 50px;
    left: -220px;
    padding: 6px;
    border-radius: 50%;
    background: rgba(125, 122, 122, 0.49);
}
.userimg img{
    width: 100%;
    border-radius: 50%;
}
.right-ico{
    position: absolute;
    top: 100px;
    left: 750px;
    width: 200px;
    height: 80px;
    overflow: hidden;
}
.right-ico .guanzhu, .right-ico .chengjiu, .right-ico .jifen{
    float: left;
    width: 60px;
    height: 80px;
}
.right-ico span{
    display: block;
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}
.right-ico img{
    width: 26px;
    margin-left: 17px;
}
.right-ico img:hover, .right-ico img:link{
    cursor: pointer;
}
.wrap{
    min-height: 800px;
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.slider{
    margin-top: 50px;
}
.slider ul{
    width: 200px;
    float: left;
}
.user-cont{
    margin-left: 240px;
}
.slider ul li{
    height: 60px;
    border-bottom: 1px solid #EDF1F2;
    width: 160px;
    margin: 0 auto;
}
.slider ul li a{
    display: block;
    height: 60px;
    font-size: 16px;
    line-height: 60px;
    text-align: center;
    color: #787d82;
}
.slider ul li a:hover{
    color: #000000;
}
.slider ul li a:visited{
    text-decoration: none;
}
.slider ul li a:link{
    text-decoration: none;
}
.slider ul li a i{
    position: relative;
    left: -25px;
    top: 3px;
    font-size: 18px;
}
.slider ul li a img{
    position: relative;
    width: 20px;
    right: -32px;
}
.slider ul li a.active{
    color: #F01400;
}
.learning-course-box, .history-course-box, .collect-course-box{
    padding-bottom: 40px;
}
.learning-course-list, .history-course-list, .collect-course-list{
    padding: 30px 0;
    height: 181px;
    position: relative;
    border-bottom: 1px solid #eff1f0;
}
.courseimg{
    float: left;
    width: 200px;
    height: 120px;
    overflow: hidden;
}
.courseimg a img{
    width: 100%;
    height: 100%;
}
.learning-course-info, .history-course-info, .collect-course-info{
    margin-left: 230px;
}
.learning-course-info h3, .history-course-info h3, .collect-course-info h3{
    font-size: 18px;
    color: #12171b;
    height: 29px;
    line-height: 29px;
    position: relative;
    margin: 0;
    font-weight: 700;
    padding: 0;
}
.learninginfo{
    padding: 10px 0 22px;
}
.learninginfo-left{
    font-size: 14px;
    margin-right: 14px;
    color: #f01400;
}
.learninginfo-mid, .learninginfo-right{
    margin-right: 14px;
    font-size: 14px;
    color: #787d82;
}
.learningnode, .historylearningnode, .collextlearningnode{
    position: relative;
    padding: 10px 0;
    word-wrap: break-word;
}
.learningnode-nodes, .learningnode-question, .historylearningnode-nodes, .historylearningnode-question, .collectlearningnode-nodes, .collectlearningnode-question{
    font-size: 14px;

    display: inline-block;
    width: 135px;
}
.learningnode-nodes a, .learningnode-question a, .historylearningnode-nodes a, .historylearningnode-question a, .collectlearningnode-nodes a, .collectlearningnode-question a{
    color: #787d82;
}
.continuelearning{
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 14px;
    border: 1px solid #f01400;
    color: #f01400;
    width: 90px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    background-color: #fff;
}
.learningnode span a，.historynode span a.collectnode span a{
    color: #787d82;
}
.learningnode span a:hover{
    color: #000;
}
.learningnode span a:link{
    text-decoration: none;
}
.continuelearning:hover{
    color: #fff;
    background-color: #ff2611;
    border-color: #ff2611;
}
.rightllead{
    position: absolute;
    top: 34px;
    right: 0;
}
.rightllead img{
    width: 20px;
}
.rightllead img:hover{
    cursor: pointer;
}
.collect-learning-course, .del-learning-course, .del-history-course, .collect-history-course, .del-collect-course, .collect-collect-course{
    float: left;
}
.operate{
    display: none;
    padding: 8px 16px;
    border: 1px solid #a5a4a4;
    margin-top: 24px;
}
