<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入 Bootstrap -->
    <link href="/ajxlk/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/public/head.css">
    <link rel="stylesheet" href="/css/public/Foot.css">

    <link rel="stylesheet" type="text/css" href="/css/usercenter.css">

    <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->



</head>
<body>

<div class="body">
    <!-- 首页头部导航 -->
    <div class="headlead">
        <div class="logobox">
            <img src="../img/Home/logo.png" alt="">
        </div>
        <div class="headlist hidden-sm">
            <ul class="leadlistbox">
                <li class="list"><a href="#">首页</a></li>
                <li class="list"><a href="/getAllCourse">课程中心</a></li>
                <li class="list"><a href="#">职业路径</a></li>
                <li class="list"><a href="#">考核测评</a></li>
                <li class="list"><a href="#">互动社区</a></li>
                <div class="clear"></div>
            </ul>
        </div>

        <div class="adminbox">
            <div class="userlogo">
                <a href="/usercenter"><img src="/img/Home/user.png" alt=""></a>
            </div>
        </div>
        <div class="searchbox">
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
            </form>
        </div>
        <div class="headlistsm">

        </div>

        <div class="clear"></div>
    </div>
    <!-- 顶部个人信息条 -->
    <div class="bg-other user-head-info">
        <div class="user-info">
            <h3 class="user-name clearfix">
                <span th:text="${stuInfo.stuname}">用户名</span>
            </h3>
            <p class="about-info">
                <span class="glyphicon glyphicon-time"></span>
                <span class="u-info-learn">
                        学习时长 <em> 1小时15分</em>
                    </span>
            </p>
            <p class="user-desc">
                用户签名！！
            </p>
            <div class="userimg">
                <a href="usercenter.html"><img src="../img/CourseDetail/user.jpg" alt=""></a>
            </div>
            <div class="right-ico">
                <div class="guanzhu">
                    <span>12</span>
                    <img src="/img/usercenter/guanzhu.png">
                </div>
                <div class="chengjiu">
                    <span>3</span>
                    <img src="/img/usercenter/chengjiu.png">
                </div>
                <div class="jifen">
                    <span>4</span>
                    <img src="/img/usercenter/jifen.png" alt="">
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>

    <!-- 个人信息详情 -->
    <div class="wrap">
        <div class="slider">
            <ul>
                <li><a href="/usercenter/1"><i class="glyphicon glyphicon-home "></i>我的课程<img src="/img/usercenter/right.png"></a></li>
                <li><a href="/usercenter/train"><i class="glyphicon glyphicon-list-alt"></i>培训任务<img src="/img/usercenter/right.png"></a></li>
                <li><a href="/usercenter/plan" class="active"><i class="glyphicon glyphicon-calendar"></i>我的计划<img src="/img/usercenter/right.png"></a></li>
                <li><a href="/usercenter/1/QuesAns"><i class="glyphicon glyphicon-comment"></i>我的问答<img src="/img/usercenter/right.png"></a></li>
                <li><a href="/usercenter/note"><i class="glyphicon glyphicon-list-alt"></i>我的笔记<img src="/img/usercenter/right.png"></a></li>
                <li><a href="myexam.html"><i class="glyphicon glyphicon-edit"></i>我的试题<img src="/img/usercenter/right.png"></a></li>
                <li><a href="/usercenter/success"><i class="glyphicon glyphicon-star"></i>我的成就<img src="/img/usercenter/right.png"></a></li>
                <li><a href="mychats.html"><i class="glyphicon glyphicon-stats"></i>统计分析<img src="/img/usercenter/right.png"></a></li>

            </ul>
        </div>
        <div class="user-cont">
            <ul id="myTab" class="nav nav-tabs" style="padding-bottom: 4px;height: 44px;">
                <li class="active">
                    <a href="#learning" data-toggle="tab" class="tabstyle">在学</a>
                </li>
                <li>
                    <a href="#history" data-toggle="tab" class="tabstyle">
                        已学
                    </a>
                </li>
                <li><a href="#collect" data-toggle="tab" class="tabstyle">收藏</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="learning">
                    <div class="learning-course-box">
                        <ul>
                            <li th:each="learningCourse : ${learningCourses}" class="learning-course-list">
                                <div class="courseimg">
                                    <a href="#"><img src="../img/usercenter/course1.png"></a>
                                </div>
                                <div class="learning-course-info">
                                    <h3 th:text="${learningCourse.course.courseName}">这里是课程名称0</h3>
                                    <div class="learninginfo">
                                        <span class="learninginfo-left">已学1%</span>
                                        <span class="learninginfo-mid">用时0分</span>
                                        <span class="learninginfo-right">
                                            学习至
                                            <span th:text="${learningCourse.chapter.chaptername}">1.1节</span>-->
                                            <span th:text="${learningCourse.section.sectionname}">1.1节</span>

                                        </span>
                                    </div>
                                    <div class="learningnode">
                                        <span class="learningnode-nodes"><a href="">笔记0</a></span>
                                        <span class="learningnode-question"><a href="">问答0</a></span>
                                        <a th:attr="href= '/section/' + ${learningCourse.section.sectionid}"  class="continuelearning">继续学习</a>
                                    </div>
                                </div>
                                <div class="clear"></div>

                                <div class="rightllead">
                                    <img src="../img/usercenter/top1.png" alt="" class="up-down" style="float: right;">
                                    <div class="operate">
                                        <div class="del-learning-course" style="padding: 0 8px 0 0;">
                                            <img src="../img/usercenter/del2.png">
                                        </div>

                                        <div class="collect-learning-course" style="padding: 0 0 0 8px;">
                                            <img src="../img/usercenter/collect1.png">
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="tab-pane fade" id="history">
                    <div class="history-course-box">
                        <ul>
                            <li class="history-course-list">
                                <div class="courseimg">
                                    <a href="#"><img src="../img/usercenter/course1.png"></a>
                                </div>
                                <div class="history-course-info">
                                    <h3>这里是课程名称3</h3>
                                    <div class="learninginfo">
                                        <span class="learninginfo-mid">用时0分</span>
                                    </div>
                                    <div class="historylearningnode">
                                        <span class="historylearningnode-nodes"><a href="">笔记0</a></span>
                                        <span class="historylearningnode-question"><a href="">问答0</a></span>
                                        <a href="#" class="continuelearning">复 习</a>
                                    </div>
                                </div>
                                <div class="clear"></div>

                                <div class="rightllead">
                                    <img src="../img/usercenter/top1.png" alt="" class="up-down" style="float: right;">
                                    <div class="operate">
                                        <div class="del-history-course" style="padding: 0 8px 0 0;">
                                            <img src="../img/usercenter/del2.png">
                                        </div>

                                        <div class="collect-history-course" style="padding: 0 0 0 8px;">
                                            <img src="../img/usercenter/collect1.png">
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </li>
                            <li class="history-course-list">
                                <div class="courseimg">
                                    <a href="#"><img src="../img/usercenter/course1.png"></a>
                                </div>
                                <div class="history-course-info">
                                    <h3>这里是课程名称4</h3>
                                    <div class="learninginfo">
                                        <span class="learninginfo-mid">用时0分</span>
                                    </div>
                                    <div class="historylearningnode">
                                        <span class="historylearningnode-nodes"><a href="">笔记0</a></span>
                                        <span class="historylearningnode-question"><a href="">问答0</a></span>
                                        <a href="#" class="continuelearning">复 习</a>
                                    </div>
                                </div>
                                <div class="clear"></div>

                                <div class="rightllead">
                                    <img src="../img/usercenter/top1.png" alt="" class="up-down" style="float: right;">
                                    <div class="operate">
                                        <div class="del-history-course" style="padding: 0 8px 0 0;">
                                            <img src="../img/usercenter/del2.png">
                                        </div>

                                        <div class="collect-history-course" style="padding: 0 0 0 8px;">
                                            <img src="../img/usercenter/collect1.png">
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="tab-pane fade" id="collect">
                    <div class="collect-course-box">
                        <ul>
                            <li th:each="course : ${faver_course}" class="collect-course-list">
                                <div class="courseimg">
                                    <a href="#"><img th:attr="src=${course.courseCoverUrl}"></a>
                                </div>
                                <div class="collect-course-info">
                                    <h3 th:text="${course.courseName}">这里是课程名称5</h3>
                                    <div class="learninginfo">
                                        <span class="learninginfo-mid">用时0分</span>
                                    </div>
                                    <div class="collectlearningnode">
                                        <span class="collectlearningnode-nodes"><a href="">笔记0</a></span>
                                        <span class="collectlearningnode-question"><a href="">问答0</a></span>
                                        <a th:attr="href='/courseIndex/'+${course.courseId}"  class="continuelearning" style="margin-bottom: 35px">继续学习</a>
                                    </div>
                                </div>
                                <div class="clear"></div>

                                <div class="rightllead">
                                    <img src="../img/usercenter/top1.png" alt="" class="up-down" style="float: right;">
                                    <div class="operate">
                                        <div class="del-collect-course" style="padding: 0 8px 0 0;">
                                            <img src="../img/usercenter/del2.png">
                                        </div>

                                        <div class="collect-collect-course" style="padding: 0 0 0 8px;">
                                            <img src="../img/usercenter/collect1.png">
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <!-- 底部版权信息 -->
    <div class="foot">
        <div class="ico">
            <ul class="icobox">
                <li class="icolist">
                    <a href="#"><img src="../img/foot/qq.png"></a>
                </li>
                <li class="icolist">
                    <a href="#"><img src="../img/foot/wechat.png"></a>
                </li>
                <li class="icolist">
                    <a href="#"><img src="../img/foot/weibo.png"></a>
                </li>
                <div class="clear"></div>
            </ul>
        </div>
        <div class="quiklink">
            <ul class="linkbox">
                <li class="linklist">
                    <a href="#">首页</a>
                </li>
                <li class="linklist">
                    <a href="#">关于我们</a>
                </li>
                <li class="linklist">
                    <a href="#">联系我们</a>
                </li>
                <li class="linklist">
                    <a href="#">讲师招募</a>
                </li>
                <li class="linklist">
                    <a href="#">常见问题</a>
                </li>
                <li class="linklist">
                    <a href="#">意见反馈</a>
                </li>
                <li class="linklist">
                    <a href="#">友情链接</a>
                </li>
                <div class="clear"></div>
            </ul>
        </div>
        <div class="copy">
            <span>傲娇小龙坎版权所有</span>
        </div>
    </div>
</div>



<script src="/ajxlk/jquery/jquery-3.2.1.js"></script>
<script src="/ajxlk/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/usercenter.js"></script>
</body>
</html>