<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ajxlk.learnOnline.course.dao.ChapterMapper" >
  <resultMap id="BaseResultMap" type="com.ajxlk.learnOnline.course.model.Chapter" >
    <id column="chapter_id" property="chapterid" jdbcType="INTEGER" />
    <result column="course_id" property="courseid" jdbcType="INTEGER" />
    <result column="chapter_name" property="chaptername" jdbcType="VARCHAR" />
    <result column="chapter_duration" property="chapterduration" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    chapter_id, course_id, chapter_name, chapter_duration
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_chapter
    where chapter_id = #{chapterid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_chapter
    where chapter_id = #{chapterid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ajxlk.learnOnline.course.model.Chapter" >
    insert into tb_chapter (chapter_id, course_id, chapter_name,
      chapter_duration)
    values (#{chapterid,jdbcType=INTEGER}, #{courseid,jdbcType=INTEGER}, #{chaptername,jdbcType=VARCHAR}, 
      #{chapterduration,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ajxlk.learnOnline.course.model.Chapter" >
    insert into tb_chapter
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="chapterid != null" >
        chapter_id,
      </if>
      <if test="courseid != null" >
        course_id,
      </if>
      <if test="chaptername != null" >
        chapter_name,
      </if>
      <if test="chapterduration != null" >
        chapter_duration,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="chapterid != null" >
        #{chapterid,jdbcType=INTEGER},
      </if>
      <if test="courseid != null" >
        #{courseid,jdbcType=INTEGER},
      </if>
      <if test="chaptername != null" >
        #{chaptername,jdbcType=VARCHAR},
      </if>
      <if test="chapterduration != null" >
        #{chapterduration,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ajxlk.learnOnline.course.model.Chapter" >
    update tb_chapter
    <set >
      <if test="courseid != null" >
        course_id = #{courseid,jdbcType=INTEGER},
      </if>
      <if test="chaptername != null" >
        chapter_name = #{chaptername,jdbcType=VARCHAR},
      </if>
      <if test="chapterduration != null" >
        chapter_duration = #{chapterduration,jdbcType=INTEGER},
      </if>
    </set>
    where chapter_id = #{chapterid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ajxlk.learnOnline.course.model.Chapter" >
    update tb_chapter
    set course_id = #{courseid,jdbcType=INTEGER},
      chapter_name = #{chaptername,jdbcType=VARCHAR},
      chapter_duration = #{chapterduration,jdbcType=INTEGER}
    where chapter_id = #{chapterid,jdbcType=INTEGER}
  </update>

  <select id="getChaptersByCourseId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List" />
    from tb_chapter
    where course_id = #{courseid,jdbcType=INTEGER}
  </select>

  <select id="getCourseIdByChapterId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    SELECT course_id FROM tb_chapter WHERE chapter_id = #{chapterid,jdbcType=INTEGER}
  </select>
</mapper>