<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ajxlk.learnOnline.course.dao.CommentMapper" >
  <resultMap id="BaseResultMap" type="com.ajxlk.learnOnline.course.model.Comment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="reviewer_id" property="reviewerid" jdbcType="INTEGER" />
    <result column="create_time" property="createtime" jdbcType="TIMESTAMP" />
    <result column="zan" property="zan" jdbcType="INTEGER" />
    <result column="section_id" property="sectionid" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, pid, reviewer_id, create_time, zan, section_id, content
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ajxlk.learnOnline.course.model.Comment" >
    insert into tb_comment (id, pid, reviewer_id,
      create_time, zan, section_id,
      content)
    values (#{id,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{reviewerid,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP}, #{zan,jdbcType=INTEGER}, #{sectionid,jdbcType=INTEGER}, 
      #{content,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ajxlk.learnOnline.course.model.Comment" >
    insert into tb_comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="reviewerid != null" >
        reviewer_id,
      </if>
      <if test="createtime != null" >
        create_time,
      </if>
      <if test="zan != null" >
        zan,
      </if>
      <if test="sectionid != null" >
        section_id,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="reviewerid != null" >
        #{reviewerid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="zan != null" >
        #{zan,jdbcType=INTEGER},
      </if>
      <if test="sectionid != null" >
        #{sectionid,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ajxlk.learnOnline.course.model.Comment" >
    update tb_comment
    <set >
      <if test="pid != null" >
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="reviewerid != null" >
        reviewer_id = #{reviewerid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        create_time = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="zan != null" >
        zan = #{zan,jdbcType=INTEGER},
      </if>
      <if test="sectionid != null" >
        section_id = #{sectionid,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ajxlk.learnOnline.course.model.Comment" >
    update tb_comment
    set pid = #{pid,jdbcType=INTEGER},
      reviewer_id = #{reviewerid,jdbcType=INTEGER},
      create_time = #{createtime,jdbcType=TIMESTAMP},
      zan = #{zan,jdbcType=INTEGER},
      section_id = #{sectionid,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getCommentBySectionId" resultMap="BaseResultMap" resultType="java.lang.Integer">
    SELECT * FROM tb_comment WHERE section_id = #{SectionId,jdbcType=INTEGER}
  </select>
</mapper>