<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ajxlk.learnOnline.course.dao.PPTMapper" >
  <resultMap id="BaseResultMap" type="com.ajxlk.learnOnline.course.model.PPT" >
    <id column="PPTId" property="pptid" jdbcType="INTEGER" />
    <result column="SectionId" property="sectionid" jdbcType="INTEGER" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="index" property="index" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    PPTId, SectionId, url, index
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_ppt
    where PPTId = #{pptid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_ppt
    where PPTId = #{pptid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ajxlk.learnOnline.course.model.PPT" >
    insert into tb_ppt (PPTId, SectionId, url, 
      index)
    values (#{pptid,jdbcType=INTEGER}, #{sectionid,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}, 
      #{index,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ajxlk.learnOnline.course.model.PPT" >
    insert into tb_ppt
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pptid != null" >
        PPTId,
      </if>
      <if test="sectionid != null" >
        SectionId,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="index != null" >
        index,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pptid != null" >
        #{pptid,jdbcType=INTEGER},
      </if>
      <if test="sectionid != null" >
        #{sectionid,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="index != null" >
        #{index,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ajxlk.learnOnline.course.model.PPT" >
    update tb_ppt
    <set >
      <if test="sectionid != null" >
        SectionId = #{sectionid,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="index != null" >
        index = #{index,jdbcType=INTEGER},
      </if>
    </set>
    where PPTId = #{pptid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ajxlk.learnOnline.course.model.PPT" >
    update tb_ppt
    set SectionId = #{sectionid,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
      index = #{index,jdbcType=INTEGER}
    where PPTId = #{pptid,jdbcType=INTEGER}
  </update>
</mapper>