<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ajxlk.learnOnline.course.dao.SectionMapper" >
  <resultMap id="BaseResultMap" type="com.ajxlk.learnOnline.course.model.Section" >
    <id column="SectionId" property="sectionid" jdbcType="INTEGER" />
    <result column="ChapterId" property="chapterid" jdbcType="INTEGER" />
    <result column="SectionName" property="sectionname" jdbcType="VARCHAR" />
    <result column="SectionDuration" property="sectionduration" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    SectionId, ChapterId, SectionName, SectionDuration
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_section
    where SectionId = #{sectionid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_section
    where SectionId = #{sectionid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ajxlk.learnOnline.course.model.Section" >
    insert into tb_section (SectionId, ChapterId, SectionName, 
      SectionDuration)
    values (#{sectionid,jdbcType=INTEGER}, #{chapterid,jdbcType=INTEGER}, #{sectionname,jdbcType=VARCHAR}, 
      #{sectionduration,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ajxlk.learnOnline.course.model.Section" >
    insert into tb_section
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sectionid != null" >
        SectionId,
      </if>
      <if test="chapterid != null" >
        ChapterId,
      </if>
      <if test="sectionname != null" >
        SectionName,
      </if>
      <if test="sectionduration != null" >
        SectionDuration,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sectionid != null" >
        #{sectionid,jdbcType=INTEGER},
      </if>
      <if test="chapterid != null" >
        #{chapterid,jdbcType=INTEGER},
      </if>
      <if test="sectionname != null" >
        #{sectionname,jdbcType=VARCHAR},
      </if>
      <if test="sectionduration != null" >
        #{sectionduration,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ajxlk.learnOnline.course.model.Section" >
    update tb_section
    <set >
      <if test="chapterid != null" >
        ChapterId = #{chapterid,jdbcType=INTEGER},
      </if>
      <if test="sectionname != null" >
        SectionName = #{sectionname,jdbcType=VARCHAR},
      </if>
      <if test="sectionduration != null" >
        SectionDuration = #{sectionduration,jdbcType=INTEGER},
      </if>
    </set>
    where SectionId = #{sectionid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ajxlk.learnOnline.course.model.Section" >
    update tb_section
    set ChapterId = #{chapterid,jdbcType=INTEGER},
      SectionName = #{sectionname,jdbcType=VARCHAR},
      SectionDuration = #{sectionduration,jdbcType=INTEGER}
    where SectionId = #{sectionid,jdbcType=INTEGER}
  </update>

  <select id="getSectionsByChapterId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List" />
    from tb_section
    where ChapterId = #{chapterid,jdbcType=INTEGER}
  </select>

</mapper>