<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${course.coursename}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--引入CSS-->
    <link href="/ajxlk/toastr/toastr.css">
    <link rel="stylesheet" type="text/css" href="/css/player.css">


    <!-- 引入 Bootstrap -->
    <link href="/ajxlk/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/ajxlk/jquery/jquery-3.2.1.js"></script>
    <script src="/ajxlk/bootstrap/js/bootstrap.min.js"></script>

    <script src="/js/player.js"></script>
    <script src="/ajxlk/toastr/toastr.js"></script>


    <!-- <script type="text/javascript" src="js/player.js"></script> -->
    <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>


    <![endif]-->

</head>
<body>
<div class="cont">
    <!-- 头部导航 -->
    <div class="head">

        <div class="pre">
            <img src="/img/Player/back.png" class="back">
        </div>

        <div class="coursename">
				<span class="name">
                    <span th:text="${course.coursename}"></span>
                    <span id = "courseid" th:text="${course.courseid}"></span>
				</span>
            <span class="section">
					第X章-第X节
				</span>
        </div>
        <div class="share">
            <ul class="list">
                <li class="list0">分享</li>
                <li class="list1">
                    <a href=""><img src="/img/Player/qq.png"></a>
                </li>
                <li class="list2">
                    <a href=""><img src="/img/Player/wechat.png"></a>
                </li>
                <li class="list3">
                    <a href=""><img src="/img/Player/weibo.png"></a>
                </li>
                <div style="clear: both;"></div>
            </ul>
        </div>
        <div class="logoarea">
            <a href="">
                <span  id = "stuid">1</span>
                <img src="/img/Player/user.jpg" class="logo">
            </a>
        </div>
        <div style="clear: both;"></div>
    </div>
    <!-- 播放器 -->
    <div class="player">
        <div class="vedio">
            <video width="320" height="240" controls="controls">
                <source src="/movie/test.mp4" type="video/mp4">
            </video>

            <!-- 控制条 -->
            <ul class="tabs">
                <li>
                    <span href="" id="section"><img src="/img/Player/section.png"></span>
                </li>
                <li>
                    <span href="" id="note"><img src="/img/Player/note.png" class="opennote"></span>
                </li>
                <li>
                    <span href="" id="question"><img src="/img/Player/question.png" class="openquestion"></span>
                </li>
            </ul>
        </div>
        <div class="control">
            <!-- 目录 -->
            <div class="catalogue">
                <span class="name name-catalogue" th:text="${course.coursename}"></span>
                <div class="section1" th:each="chapter : ${course.chapters}">
                    <h4 class="sectionname" th:text="${chapter.chaptername}">
                    </h4>
                    <div th:each="section : ${chapter.sections}">

                        <a href="" class="classname">
                            <span class="glyphicon glyphicon-play ico1"></span>
                            <span th:text="${section.sectionname}"></span>
                            <span class="glyphicon glyphicon-play-circle ico2"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="popbox notebox">
            <div class="popboxhead">
                <div class="control-click">
                    <span style="float: left;">笔记</span>
                    <span class="glyphicon glyphicon-remove-circle close"></span>
                    <div style="clear: both;"></div>
                </div>
                <div class="text">
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>

                        <button type="submit" class="btn btn-default" style="    float: right;">提交</button>
                        <div style="clear: both;"></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="popbox notebox">
            <div class="popboxhead">
                <div class="control-click">
                    <span style="float: left;">提问</span>
                    <span class="glyphicon glyphicon-remove-circle close"></span>
                    <div style="clear: both;"></div>
                </div>
                <div class="text">
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>

                        <button type="submit" class="btn btn-default" style="    float: right;">提交</button>
                        <div style="clear: both;"></div>
                    </form>
                </div>
            </div>
        </div>

        <div class="clear"></div>
    </div>

    <div class="body">
        <div class="row">
            <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
                <div class="col-md-8 col-sm-8">
                    <div id="inputt" >
                        <form >
                            <input type="text" id = "addContent" value="提交"/>
                            <button onclick="addFormInfo()">提交</button>
                        </form>

                    </div>
                    <div class="contain">
                        <ul id="myTab" class="nav nav-tabs">
                            <li class="active">
                                <a href="#comment" data-toggle="tab" class="tabstyle">
                                    评论
                                </a>
                            </li>
                            <li><a href="#quest-answ" data-toggle="tab" class="tabstyle">问答</a></li>
                            <li><a href="#notes" data-toggle="tab" class="tabstyle">笔记</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">

                            <!--课程评论-->
                            <div class="tab-pane fade in active" id="comment">
                            </div>

                            <div class="tab-pane fade" id="quest-answ">
                                <ul class="commentbox" id="commentnum">
                                    <li class="commentlist">
                                        <div class="userlist">
                                            <a href=""><img src="/img/Player/user.jpg"></a>
                                        </div>
                                        <div class="comment">
                                            <div class="username">
                                                <a href="">用户1</a>
                                            </div>
                                            <div class="commentwords">
                                                哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈
                                            </div>
                                            <div class="allreply">
                                                <span class="publish-time">时间: 2016-03-12</span>
                                                <a href="" class="same">同问 5</a>
                                                <span href="" class="reply">回复 30</span>
                                                <div style="clear: both;"></div>
                                            </div>
                                        </div>
                                        <div class="replybox">
                                            <form role="form">
                                                <div class="form-group">
                                                    <textarea class="form-control" rows="3"></textarea>
                                                </div>
                                                <button type="submit" class="btn btn-default" style="float: right;">回复
                                                </button>
                                            </form>
                                        </div>
                                        <div style="clear: both;"></div>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="notes">
                                <p>笔记</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">

                </div>

            </div>
        </div>
    </div>
</div>


</body>
</html>

<script type="text/javascript">

    /**
     * 添加评论
     */
    function addFormInfo() {
        var courseid = document.getElementById("courseid").innerText;
        var stuid = document.getElementById("stuid").innerText;
        var content = $("#addContent").val();
        $.ajax({
            url: "/course/" + courseid + "/form/add",
            type: "post",
            data: {
                content:content,
                stuid: stuid
            },
            success: function (data, status) {
                if (status != "success") {
                    toastr.error("删除失败，请检查网络和服务器运行情况！");
                    return;
                }
                if (data.code != 200) {
                    toastr.error(data.msg);
                    return;
                }
                toastr.success(data.msg);
                $("#tableUser").bootstrapTable('remove', {
                    field: 'id',
                    values: !isNaN(userId) ? [userId] : userId
                });
            },
            error: function (data, status) {
                toastr.error("删除失败，请检查网络和服务器运行情况！");
            }
        })

    }

    $(function () {
        $.ajax({
            type: "get",
            dataType: "json",
            data: {CourseId: 1},
            url: "/course/form",
            success: function (data) {
                var comment = ' <ul class="commentbox">';
                for (var i = 0; i < data.length; i++) {
                    comment += "<li class='commentlist'>" +
                            '<div class="userlist">' +
                            '<a href=""><img src=' + data[i].stu["stuiconurl"] + '></a>' +
                            ' </div>' +
                            '<div class="comment">' +
                            ' <div class="username">' +
                            '<a href="">' + data[i].stu["stuname"] + '</a>' +
                            '</div>' +
                            '<div class="commentwords">' + data[i].comment["content"] +
                            '</div>' +
                            ' <div class="time-good">' +
                            '<span class="publish-time">时间:'+ data[i].comment["createtime"] + '</span>' +
                            '<a href="" class="click-good"><span class="glyphicon glyphicon-thumbs-up"></span>' + data[i].comment["zan"] + '</a>' +
                            '<div style="clear: both;"></div>' +
                            '</div></div><div style="clear: both;"></div></li>'
                }
                comment += '</ul>';
               $('#comment').append(comment);
            },
            error: function (err) {
                Y.alert("通讯失败。");
            }
        });

    });



</script>

