<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${course.courseName}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 引入 Bootstrap -->
    <link href="/ajxlk/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/ajxlk/jquery/jquery-3.2.1.js"></script>
    <script src="/ajxlk/bootstrap/js/bootstrap.min.js"></script>


    <link rel="stylesheet" type="text/css" href="/css/player.css">
    <script src="/js/player.js"></script>

    <!-- <script type="text/javascript" src="js/player.js"></script> -->
    <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

</head>
<body onload=" record()">
<div class="cont">
    <!-- 头部导航 -->
    <div class="head">
        <div class="pre">
            <img src="../img/Player/back.png" class="back">
        </div>

        <div class="coursename">
            <!--列出sectionId-->
            <span th:text="${section.sectionid}" style="display: none" id="section_Id"></span>
            <span th:text="${course.courseName}" class="name">
				</span>
            <span class="section">
                <span th:text="${chapter.chaptername}"></span>
                <span th:text="${section.sectionname}"></span>
            </span>
        </div>
        <div class="share">
            <ul class="list">
                <li class="list0">分享</li>
                <li class="list1">
                    <a href=""><img src="../img/Player/QQ.png"></a>
                </li>
                <li class="list2">
                    <a href=""><img src="../img/Player/wechat.png"></a>
                </li>
                <li class="list3">
                    <a href=""><img src="../img/Player/weibo.png"></a>
                </li>
                <div style="clear: both;"></div>
            </ul>
        </div>
        <div class="logoarea">
            <span id="stuid" style="display: none">1</span>
            <a href="">
                <img src="../img/Player/user.jpg" class="logo">
            </a>
        </div>
        <div style="clear: both;"></div>
    </div>
    <!-- 播放器 -->
    <div class="player">
        <div class="vedio">
            <!--<span th:text="${video.videoName}"></span>-->
            <!--<span th:text="${video.url}" id="video_url"></span>-->

            <video width="320" height="240" controls="controls" autoplay="autoplay" id="video_tag"  onplaying="init()">
                <source th:attr="src=${video.url}" type="video/mp4" id="video">
            </video>

            <!-- 控制条 -->
            <ul class="tabs">
                <li>
                    <span href="" id="section"><img src="../img/Player/section.png"></span>
                </li>
                <li>
                    <span href="" id="note"><img src="../img/Player/note.png" class="opennote"></span>
                </li>
                <li>
                    <span href="" id="question"><img src="../img/Player/question.png" class="openquestion"></span>
                </li>
            </ul>
        </div>
        <div class="control">
            <!-- 目录 -->
            <div class="catalogue">
						<span th:text="${course.courseName}" class="name name-catalogue">
						</span>
                <div th:each="chapter : ${course.chapters}" class="section1">
                    <h4 th:text="${chapter.chaptername}" class="sectionname">
                    </h4>
                    <div th:each="section : ${chapter.sections}">
                        <a href="" class="classname">
                            <span class="glyphicon glyphicon-play ico1"></span>
                            <span th:text="${section.sectionname} "></span>
                            <span class="glyphicon glyphicon-play-circle ico2"></span>
                        </a>
                    </div>

                </div>
            </div>

        </div>

        <div class="popboxnote notebox">
            <div class="popboxhead">
                <div class="control-click">
                    <span style="float: left;">笔记</span>
                    <span class="glyphicon glyphicon-remove-circle close"></span>
                    <div style="clear: both;"></div>
                </div>
                <div class="text">
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>

                        <button type="button" class="btn btn-default" style="float: right;" >提+交</button>
                        <div style="clear: both;"></div>
                    </form>
                </div>
            </div>
        </div>

        <div class="popbox notebox">
            <div class="popboxhead">
                <div class="control-click">
                    <span style="float: left;">提问</span>
                    <span class="glyphicon glyphicon-remove-circle close"></span>
                    <div style="clear: both;"></div>
                </div>
                <div class="text">
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>

                        <button type="submit" class="btn btn-default" style="    float: right;">提交</button>
                        <div style="clear: both;"></div>
                    </form>
                </div>
            </div>
        </div>

        <div class="clear"></div>
    </div>

    <div class="body">
        <div class="row">
            <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
                <div class="col-md-8 col-sm-8">
                    <div class="contain">
                        <ul id="myTab" class="nav nav-tabs">
                            <li class="active">
                                <a href="#comment" data-toggle="tab" class="tabstyle">
                                    评论
                                </a>
                            </li>
                            <li><a href="#quest-answ" data-toggle="tab" class="tabstyle">问答</a></li>
                            <li><a href="#notes" data-toggle="tab" class="tabstyle">笔记</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade in active" id="comment">
                                <div class="commentpublicbox">
                                    <div class="useradmin">
                                        <a href="#"><img src="../img/Player/user.jpg"></a>
                                    </div>
                                    <form role="form" class="commentinput">
                                        <div class="form-group">
                                            <textarea class="form-control" rows="3" placeholder="请输入评论···" id="addContent"></textarea>
                                        </div>
                                        <button type="button" class="btn btn-default" onclick="addFormInfo()">发表评论</button>
                                    </form>
                                    <div class="clear"></div>
                                </div>
                                <ul class="commentbox">
                                </ul>
                            </div>

                            <div class="tab-pane fade" id="quest-answ">

                            </div>

                            <div class="tab-pane fade" id="notes">
                                <ul class="commentbox">
                                    <li class="commentlist">
                                        <div class="userlist">
                                            <a href="#"><img src="../img/Player/user.jpg"></a>
                                        </div>
                                        <div class="comment">
                                            <div class="username">
                                                <a href="#">用户1</a>
                                            </div>
                                            <div class="commentwords">
                                                哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈
                                            </div>
                                            <div class="time-good">
                                                <span class="publish-time">时间: 2016-03-12</span>
                                                <span href="#" class="click-good"><span
                                                        class="glyphicon glyphicon-thumbs-up"></span><span
                                                        class="goodnum">30</span></span>
                                                <span href="#" class="collect">收藏 <span
                                                        class="glyphicon glyphicon-heart-empty"></span></span>

                                                <div style="clear: both;"></div>
                                            </div>
                                        </div>
                                        <div style="clear: both;"></div>
                                    </li>
                                    <li class="commentlist">
                                        <div class="userlist">
                                            <a href="#"><img src="../img/Player/user.jpg"></a>
                                        </div>
                                        <div class="comment">
                                            <div class="username">
                                                <a href="#">用户2</a>
                                            </div>
                                            <div class="commentwords">
                                                哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈
                                            </div>
                                            <div class="time-good">
                                                <span class="publish-time">时间: 2016-03-12</span>
                                                <span href="#" class="click-good"><span
                                                        class="glyphicon glyphicon-thumbs-up"></span><span
                                                        class="goodnum">30</span></span>
                                                <span href="#" class="collect">收藏 <span
                                                        class="glyphicon glyphicon-heart-empty"></span></span>

                                                <div style="clear: both;"></div>
                                            </div>
                                        </div>
                                        <div style="clear: both;"></div>
                                    </li>


                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">

                </div>

            </div>
        </div>
    </div>
</div>

</body>
</html>

<script type="text/javascript">
    function sleep(delay)
    {
        var start = new Date().getTime();
        while (new Date().getTime() < start + delay);
    }
    // 对Date的扩展，将 Date 转化为指定格式的String
    // 月(M)、日(d)、小时(h)、分(m)、秒(s)、季度(q) 可以用 1-2 个占位符，
    // 年(y)可以用 1-4 个占位符，毫秒(S)只能用 1 个占位符(是 1-3 位的数字)
    // 例子：
    // (new Date()).Format("yyyy-MM-dd hh:mm:ss.S") ==> 2006-07-02 08:09:04.423
    // (new Date()).Format("yyyy-M-d h:m:s.S")      ==> 2006-7-2 8:9:4.18
    Date.prototype.Format = function(fmt)
    { //author: meizz
        var o = {
            "M+" : this.getMonth()+1,                 //月份
            "d+" : this.getDate(),                    //日
            "h+" : this.getHours(),                   //小时
            "m+" : this.getMinutes(),                 //分
            "s+" : this.getSeconds(),                 //秒
            "q+" : Math.floor((this.getMonth()+3)/3), //季度
            "S"  : this.getMilliseconds()             //毫秒
        };
        if(/(y+)/.test(fmt))
            fmt=fmt.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length));
        for(var k in o)
            if(new RegExp("("+ k +")").test(fmt))
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
        return fmt;
    }

    var video = document.getElementById("video_tag");;
    var duration;

    function init() {
        loadComment();
        loadQuesAns();
        sleep(300);
        duration = video.duration;
    }



    var lastTime = new Date();    //记录上一个发送请求的时间
    var current_play_time;           //当前视频播放的时间
    var currentTime;                      // 记录视频播放位置


    /*产生随机数*/
    function GetRandomNum(Min,Max)
    {
        var Range = Max - Min;
        var Rand = Math.random();
        return(Min + Math.round(Rand * Range));
    }

    var random;
    function record() {
//        if (video.paused){
//            sleep(300);
//            record();
//        }
        random = GetRandomNum(60000,180000);
        video.pause();//暂停视频
        // 弹出验证码 验证
//        if(!video.paused){ //如果通过
            current_play_time = new Date();
            currentTime = video.currentTime;
            sendRequest();
            lastTime = current_play_time;
//        }else {
//
//        }
        setTimeout("record()",random);
    }



    function sendRequest() {
        $.ajax({
            url : "/stuRecord",
            type: "post",
            data: {
                stuId : document.getElementById("stuid").innerHTML,
                sectionId : section_Id,
                startTime : lastTime,//.Format("yyyy-MM-dd hh:mm:ss"),
                endTime : current_play_time,//.Format("yyyy-MM-dd hh:mm:ss"),
                currentTime : Math.round(currentTime),
                learnTimeLength : Math.round(random/1000),
                duration : Math.round(duration)
            },
            success: function (data, status) {
                alert("success!");
            },
            error: function (data, status) {
                alert("网络异常!");
            }


        });

    }



    var section_Id = $('#section_Id').text();



    /**
     * 添加评论
     */
    function addFormInfo() {
        var stuid = document.getElementById("stuid").innerHTML;
        var content = $("#addContent").val();
        $.ajax({
            url: "/course/" + section_Id + "/form/add",
            type: "post",
            data: {
                content: content,
                stuid: stuid
            },
            success: function (data, status) {
                $("#addContent").val("");
                loadComment();
            },
            error: function (data, status) {
                alert("网络异常!");
            }
        })

    }

    /**
     *  加载问答
     */
    function loadQuesAns() {
        $.ajax({
            type: "get",
            dataType: "json",
            url: "/course/" + section_Id + "/quesAns",
            success: function (data) {
                var quanAns = '<ul class="commentbox" id="commentnum">';
                for (var i = 0; i < data.length; i++) {

                    quanAns +=
                        '<li class="commentlist">' +
                        '<div class="userlist">' +
                        '<a href=""><img src="' + data[i].stu["stuiconurl"] + '"></a>' +
                        '</div>' +
                        '<div class="comment">' +
                        '<div class="username">' +
                        '<a href="' + data[i].stu["stuname"] + '"></a>' +
                        '</div>' +
                        '<div class="commentwords">' + data[i]["content"] + '</div>' +

                        '<div class="allreply">' +
                        '<span class="publish-time">' + data[i]["createTime"] + '</span>' +
                        '<a href="" class="same">同问' + data[i]["zan"] + '</a>' +
                        '<span href="" class="reply">回复</span>' +
                        '<div style="clear: both;"></div>' +
                        '</div>' +
                        '<ul>';
                    for (var j = 0; j < data[i].subQuesAnss.length; j++) {
                        quanAns +=
                            '<li class="commentlist" style="padding: 20px 0;border-style: none;">' +
                            '<div class="userlist">' +
                            '<a href="#">' +
                            '<img src="' + data[i].subQuesAnss[j].stu["stuiconurl"] + '"/>' +
                            '</a>' +
                            '</div>' +
                            '<div class="comment">' +
                            '<div class="username">' +
                            '<a href="#">' + data[i].subQuesAnss[j].stu["stuname"] + '</a>' +
                            '</div>' +
                            '<div class="commentwords">' +
                            data[i].subQuesAnss[j]["content"] +
                            '</div>' +
                            '<div class="allreply">' +
                            '<span class="publish-time">时间:' + data[i].subQuesAnss[j]["createTime"] + '</span>' +
                            '<span href="#" class="reply">回复 30</span>' +
                            '<div style="clear: both;"></div>' +
                            '</div>' +
                            '</div>' + '<div class="replybox">' +
                            '<form role="form">' +
                            ' <div class="form-group">' +
                            '<textarea class="form-control" rows="3"></textarea>' +
                            '</div>' +
                            '<button type="submit" class="btn btn-default" style="float: right;">回复</button>' +
                            '</form>' +
                            '</div>' +
                            '<div style="clear: both;"></div>' +
                            '</li>'
                    }
                    quanAns +=
                        '</ul>' +
                        '<div class="replybox">' +
                        '<form role="form">' +
                        '<div class="form-group">' +
                        '<textarea class="form-control" rows="3"></textarea>' +
                        '</div>' +
                        ' <button type="submit" class="btn btn-default" style="float: right;">回复</button>' +
                        '</form>' +
                        '</div>' +
                        '<div style="clear: both;"></div></li>';
                }
                quanAns += '</ul>'
                $('#quest-answ').append(quanAns);
            },
            error: function (err) {
                alert("通讯失败。");
            }
        });
    }


    /**
     * 加载评论
     */
    function loadComment() {
        $.ajax({
            type: "get",
            dataType: "json",
            data: {sectionId: section_Id},
            url: "/course/form",
            success: function (data) {
                var comment = ' <ul class="commentbox">';
                for (var i = 0; i < data.length; i++) {
                    comment += "<li class='commentlist'>" +
                        '<div class="userlist">' +
                        '<a href=""><img src=' + data[i].stu["stuiconurl"] + '  class="userhead"' + '></a>' +
                        ' </div>' +
                        '<div class="comment">' +
                        ' <div class="username">' +
                        '<a href="">' + data[i].stu["stuname"] + '</a>' +
                        '</div>' +
                        '<div class="commentwords">' + data[i].comment["content"] +
                        '</div>' +
                        ' <div class="time-good">' +
                        '<span class="publish-time">时间:' + data[i].comment["createtime"] + '</span>' +
                        '<a href="" class="click-good"><span class="glyphicon glyphicon-thumbs-up"></span>' + data[i].comment["zan"] + '</a>' +
                        '<div style="clear: both;"></div>' +
                        '</div></div><div style="clear: both;"></div></li>'
                }
                comment += '</ul>';
                var divAA = document.getElementById("comment").getElementsByTagName("ul");//清除table  下的东西
                var varAALength = divAA.length;
                for (var i = 0; i < varAALength; i++)
                    divAA[0].remove();

                $('#comment').append(comment);
                return true;
            },
            error: function (err) {
                Y.alert("通讯失败。");
            }
        });

    }


</script>

